In [1]:
import pandas as pd
import numpy as np

from sklearn.preprocessing import MinMaxScaler, StandardScaler, LabelEncoder

In [2]:
# Load Dataset
diabetes = pd.read_csv('/content/diabetes.csv')
diabetes.head()

,ID,No_Pation,Gender,AGE,Urea,Cr,HbA1c,Chol,TG,HDL,LDL,VLDL,BMI,CLASS
0,502,17975,F,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,N
1,735,34221,M,26,4.5,62,4.9,3.7,1.4,1.1,2.1,0.6,23.0,N
2,420,47975,F,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,N
3,680,87656,F,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,N
4,504,34223,M,33,7.1,46,4.9,4.9,1.0,0.8,2.0,0.4,21.0,N

In [3]:
# Check Missing Values
diabetes.isnull().sum()

ID           0
No_Pation    0
Gender       0
AGE          0
Urea         0
Cr           0
HbA1c        0
Chol         0
TG           0
HDL          0
LDL          0
VLDL         0
BMI          0
CLASS        0
dtype: int64

In [10]:
# Handling Categorical Data
cols_with_zero = ['ID', 'No_Pation', 'Gender', 'AGE', 'Urea', 'Cr', 'HbA1c', 'Chol', 'TG', 'HDL', 'LDL', 'VLDL', 'BMI', 'CLASS']

numeric_cols = diabetes.select_dtypes(include=['int64', 'float64']).columns
categorical_cols = diabetes.select_dtypes(include='object').columns

for col in numeric_cols:
    diabetes[col] = diabetes[col].replace(0, np.nan)
    diabetes[col] = diabetes[col].fillna(diabetes[col].mean())
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

for col in categorical_cols:
    diabetes[col] = le.fit_transform(diabetes[col])

In [11]:
# Handling Outliers (IQR Method)
Q1 = diabetes.quantile(0.25)
Q3 = diabetes.quantile(0.75)
IQR = Q3 - Q1

diabetes = diabetes[~((diabetes < (Q1 - 1.5 * IQR)) |
                      (diabetes > (Q3 + 1.5 * IQR))).any(axis=1)]

In [24]:
# Data Transformation
# Min-Max Scaling
X = diabetes.drop('CLASS', axis=1)
y = diabetes['CLASS']

from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
X_minmax = scaler.fit_transform(X)
X_minmax_df = pd.DataFrame(X_minmax, columns=X.columns)
X_minmax_df.head()

,ID,No_Pation,Gender,AGE,Urea,Cr,HbA1c,Chol,TG,HDL,LDL,VLDL,BMI
0,0.892231,0.452186,0.5,0.193548,0.328947,0.690476,0.230769,0.694915,0.723404,0.2,0.673469,0.761905,0.15
1,0.106516,0.316206,0.0,0.354839,0.381579,0.404762,0.900000,0.406780,0.361702,0.4,0.387755,0.380952,0.50
2,0.286967,0.188926,0.0,0.354839,0.381579,0.404762,0.900000,0.406780,0.361702,0.4,0.387755,0.380952,0.50
3,0.630326,0.303545,0.0,0.290323,0.381579,0.190476,0.346154,0.406780,0.425532,0.6,0.326531,0.428571,0.20
4,0.006266,0.452318,0.0,0.225806,0.250000,0.440476,0.238462,0.627119,0.744681,0.6,0.448980,0.761905,0.25

In [30]:
X_minmax_df.describe()

,ID,No_Pation,Gender,AGE,Urea,Cr,HbA1c,Chol,TG,HDL,LDL,VLDL,BMI
count,556.000000,556.000000,556.000000,556.000000,556.000000,556.000000,556.000000,556.000000,556.000000,556.000000,556.000000,556.000000,556.000000
mean,0.415794,0.393271,0.261691,0.549025,0.459982,0.426173,0.533821,0.483721,0.403720,0.475755,0.399919,0.439277,0.579029
std,0.291815,0.182915,0.251747,0.151754,0.198399,0.204541,0.179632,0.187641,0.215402,0.214884,0.203091,0.217786,0.200534
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.145050,0.316600,0.000000,0.483871,0.315789,0.273810,0.400000,0.355932,0.255319,0.333333,0.239796,0.285714,0.450000
50%,0.386591,0.453378,0.500000,0.516129,0.447368,0.404762,0.530769,0.474576,0.382979,0.466667,0.387755,0.380952,0.550000
75%,0.641917,0.455672,0.500000,0.677419,0.578947,0.571429,0.653846,0.610169,0.510638,0.600000,0.551020,0.619048,0.700000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [25]:
# Standard Scaling
from sklearn.preprocessing import StandardScaler

std_scaler = StandardScaler()
X_standard = std_scaler.fit_transform(X)
X_standard_df = pd.DataFrame(X_standard, columns=X.columns)
X_standard_df.head()

,ID,No_Pation,Gender,AGE,Urea,Cr,HbA1c,Chol,TG,HDL,LDL,VLDL,BMI
0,1.634136,0.322377,0.947475,-2.344564,-0.661056,1.293338,-1.688590,1.126537,1.485468,-1.284433,1.348145,1.482732,-2.141359
1,-1.060798,-0.421699,-1.040434,-1.280766,-0.395535,-0.104775,2.040328,-0.410418,-0.195241,-0.352859,-0.059949,-0.268049,-0.394447
2,-0.441866,-1.118165,-1.040434,-1.280766,-0.395535,-0.104775,2.040328,-0.410418,-0.195241,-0.352859,-0.059949,-0.268049,-0.394447
3,0.735825,-0.490976,-1.040434,-1.706285,-0.395535,-1.153359,-1.045673,-0.410418,0.101355,0.578715,-0.361683,-0.049201,-1.891800
4,-1.404650,0.323102,-1.040434,-2.131805,-1.059337,0.069989,-1.645729,0.764900,1.584333,0.578715,0.241786,1.482732,-1.642241

In [33]:
X_standard_df.describe()

,ID,No_Pation,Gender,AGE,Urea,Cr,HbA1c,Chol,TG,HDL,LDL,VLDL,BMI
count,5.560000e+02,5.560000e+02,5.560000e+02,5.560000e+02,5.560000e+02,5.560000e+02,5.560000e+02,5.560000e+02,5.560000e+02,5.560000e+02,5.560000e+02,5.560000e+02,5.560000e+02
mean,6.709261e-17,1.246006e-16,1.230031e-16,-3.003193e-16,-2.140574e-16,1.405750e-16,5.367409e-16,8.945682e-17,2.044727e-16,-1.150159e-16,2.300318e-16,1.150159e-16,4.920125e-16
std,1.000900e+00,1.000900e+00,1.000900e+00,1.000900e+00,1.000900e+00,1.000900e+00,1.000900e+00,1.000900e+00,1.000900e+00,1.000900e+00,1.000900e+00,1.000900e+00,1.000900e+00
min,-1.426140e+00,-2.151958e+00,-1.040434e+00,-3.621121e+00,-2.320561e+00,-2.085434e+00,-2.974423e+00,-2.580238e+00,-1.875950e+00,-2.216007e+00,-1.970934e+00,-2.018830e+00,-2.890036e+00
25%,-9.286305e-01,-4.195427e-01,-1.040434e+00,-4.297283e-01,-7.274363e-01,-7.455761e-01,-7.456449e-01,-6.816458e-01,-6.895674e-01,-6.633834e-01,-7.891405e-01,-7.057443e-01,-6.440056e-01
50%,-1.001637e-01,3.288994e-01,9.474745e-01,-2.169688e-01,-6.363426e-02,-1.047746e-01,-1.700569e-02,-4.878190e-02,-9.637584e-02,-4.233412e-02,-5.994892e-02,-2.680490e-01,-1.448878e-01
75%,7.755827e-01,3.414540e-01,9.474745e-01,8.468288e-01,6.001678e-01,7.107909e-01,6.687723e-01,6.744911e-01,4.968157e-01,5.787152e-01,7.446763e-01,8.261893e-01,6.037889e-01
max,2.003777e+00,3.319986e+00,2.935383e+00,2.974424e+00,2.724334e+00,2.807959e+00,2.597523e+00,2.753901e+00,2.770716e+00,2.441863e+00,2.957396e+00,2.576971e+00,2.101142e+00

In [28]:
print("Original shape:", X.shape)
print("Min-Max scaled shape:", X_minmax.shape)
print("Standardized shape:", X_standard.shape)

Original shape: (556, 13)
Min-Max scaled shape: (556, 13)
Standardized shape: (556, 13)

In [16]:
# Adult Income Dataset
# Step 1: Load Dataset
adult = pd.read_csv('/content/adult.csv')
adult.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K

In [17]:
#Check Missing Values
adult.isnull().sum()

age                0
workclass          0
fnlwgt             0
education          0
educational-num    0
marital-status     0
occupation         0
relationship       0
race               0
gender             0
capital-gain       0
capital-loss       0
hours-per-week     0
native-country     0
income             0
dtype: int64

In [18]:
# Handling Missing Values
adult.replace('?', np.nan, inplace=True)
adult.dropna(inplace=True)

In [19]:
#Handling Categorical Data
# Identify categorical columns
categorical_cols = adult.select_dtypes(include='object').columns
categorical_cols

Index(['workclass', 'education', 'marital-status', 'occupation',
       'relationship', 'race', 'gender', 'native-country', 'income'],
      dtype='object')

In [20]:
#Encode categorical columns using Label Encoding
le = LabelEncoder()

for col in categorical_cols:
    adult[col] = le.fit_transform(adult[col])

In [21]:
#Handling Outliers
Q1 = adult.quantile(0.25)
Q3 = adult.quantile(0.75)
IQR = Q3 - Q1

adult = adult[~((adult < (Q1 - 1.5 * IQR)) |
                (adult > (Q3 + 1.5 * IQR))).any(axis=1)]

In [27]:
#Data Transformation
#Min-Max Scaling
scaler = MinMaxScaler()
adult_minmax = scaler.fit_transform(adult)
X_minmax_df = pd.DataFrame(X_minmax, columns=X.columns)
X_minmax_df.head()

,ID,No_Pation,Gender,AGE,Urea,Cr,HbA1c,Chol,TG,HDL,LDL,VLDL,BMI
0,0.892231,0.452186,0.5,0.193548,0.328947,0.690476,0.230769,0.694915,0.723404,0.2,0.673469,0.761905,0.15
1,0.106516,0.316206,0.0,0.354839,0.381579,0.404762,0.900000,0.406780,0.361702,0.4,0.387755,0.380952,0.50
2,0.286967,0.188926,0.0,0.354839,0.381579,0.404762,0.900000,0.406780,0.361702,0.4,0.387755,0.380952,0.50
3,0.630326,0.303545,0.0,0.290323,0.381579,0.190476,0.346154,0.406780,0.425532,0.6,0.326531,0.428571,0.20
4,0.006266,0.452318,0.0,0.225806,0.250000,0.440476,0.238462,0.627119,0.744681,0.6,0.448980,0.761905,0.25

In [31]:
X_minmax_df.describe()

,ID,No_Pation,Gender,AGE,Urea,Cr,HbA1c,Chol,TG,HDL,LDL,VLDL,BMI
count,556.000000,556.000000,556.000000,556.000000,556.000000,556.000000,556.000000,556.000000,556.000000,556.000000,556.000000,556.000000,556.000000
mean,0.415794,0.393271,0.261691,0.549025,0.459982,0.426173,0.533821,0.483721,0.403720,0.475755,0.399919,0.439277,0.579029
std,0.291815,0.182915,0.251747,0.151754,0.198399,0.204541,0.179632,0.187641,0.215402,0.214884,0.203091,0.217786,0.200534
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.145050,0.316600,0.000000,0.483871,0.315789,0.273810,0.400000,0.355932,0.255319,0.333333,0.239796,0.285714,0.450000
50%,0.386591,0.453378,0.500000,0.516129,0.447368,0.404762,0.530769,0.474576,0.382979,0.466667,0.387755,0.380952,0.550000
75%,0.641917,0.455672,0.500000,0.677419,0.578947,0.571429,0.653846,0.610169,0.510638,0.600000,0.551020,0.619048,0.700000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [26]:
#Standard Scaling
std_scaler = StandardScaler()
adult_standard = std_scaler.fit_transform(adult)
X_standard_df = pd.DataFrame(X_standard, columns=X.columns)
X_standard_df.head()

,ID,No_Pation,Gender,AGE,Urea,Cr,HbA1c,Chol,TG,HDL,LDL,VLDL,BMI
0,1.634136,0.322377,0.947475,-2.344564,-0.661056,1.293338,-1.688590,1.126537,1.485468,-1.284433,1.348145,1.482732,-2.141359
1,-1.060798,-0.421699,-1.040434,-1.280766,-0.395535,-0.104775,2.040328,-0.410418,-0.195241,-0.352859,-0.059949,-0.268049,-0.394447
2,-0.441866,-1.118165,-1.040434,-1.280766,-0.395535,-0.104775,2.040328,-0.410418,-0.195241,-0.352859,-0.059949,-0.268049,-0.394447
3,0.735825,-0.490976,-1.040434,-1.706285,-0.395535,-1.153359,-1.045673,-0.410418,0.101355,0.578715,-0.361683,-0.049201,-1.891800
4,-1.404650,0.323102,-1.040434,-2.131805,-1.059337,0.069989,-1.645729,0.764900,1.584333,0.578715,0.241786,1.482732,-1.642241

In [32]:
X_standard_df.describe()

,ID,No_Pation,Gender,AGE,Urea,Cr,HbA1c,Chol,TG,HDL,LDL,VLDL,BMI
count,5.560000e+02,5.560000e+02,5.560000e+02,5.560000e+02,5.560000e+02,5.560000e+02,5.560000e+02,5.560000e+02,5.560000e+02,5.560000e+02,5.560000e+02,5.560000e+02,5.560000e+02
mean,6.709261e-17,1.246006e-16,1.230031e-16,-3.003193e-16,-2.140574e-16,1.405750e-16,5.367409e-16,8.945682e-17,2.044727e-16,-1.150159e-16,2.300318e-16,1.150159e-16,4.920125e-16
std,1.000900e+00,1.000900e+00,1.000900e+00,1.000900e+00,1.000900e+00,1.000900e+00,1.000900e+00,1.000900e+00,1.000900e+00,1.000900e+00,1.000900e+00,1.000900e+00,1.000900e+00
min,-1.426140e+00,-2.151958e+00,-1.040434e+00,-3.621121e+00,-2.320561e+00,-2.085434e+00,-2.974423e+00,-2.580238e+00,-1.875950e+00,-2.216007e+00,-1.970934e+00,-2.018830e+00,-2.890036e+00
25%,-9.286305e-01,-4.195427e-01,-1.040434e+00,-4.297283e-01,-7.274363e-01,-7.455761e-01,-7.456449e-01,-6.816458e-01,-6.895674e-01,-6.633834e-01,-7.891405e-01,-7.057443e-01,-6.440056e-01
50%,-1.001637e-01,3.288994e-01,9.474745e-01,-2.169688e-01,-6.363426e-02,-1.047746e-01,-1.700569e-02,-4.878190e-02,-9.637584e-02,-4.233412e-02,-5.994892e-02,-2.680490e-01,-1.448878e-01
75%,7.755827e-01,3.414540e-01,9.474745e-01,8.468288e-01,6.001678e-01,7.107909e-01,6.687723e-01,6.744911e-01,4.968157e-01,5.787152e-01,7.446763e-01,8.261893e-01,6.037889e-01
max,2.003777e+00,3.319986e+00,2.935383e+00,2.974424e+00,2.724334e+00,2.807959e+00,2.597523e+00,2.753901e+00,2.770716e+00,2.441863e+00,2.957396e+00,2.576971e+00,2.101142e+00

In [29]:
print("Original shape:", X.shape)
print("Min-Max scaled shape:", X_minmax.shape)
print("Standardized shape:", X_standard.shape)

Original shape: (556, 13)
Min-Max scaled shape: (556, 13)
Standardized shape: (556, 13)